@model WardrobeTracker.Models.Embellishment

@{
    ViewBag.Title = "Details";
}

<div class="detailspagebody">
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h1>Details | Accessories</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="dl-horizontal">
                <li>
                    @Html.DisplayFor(model => model.Color.Name)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Description.Name)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Occasion.Name)
                </li>
                <li>
                    @Html.DisplayFor(model => model.Season.Name)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="thumbnail img-responsive" src="~/Content/Images/goldbangles.jpg" alt="gold bangles" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.EmbellishmentsID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

